
@mixin buttons {
    background-color: #1087A8;
    font-family: Bona Nova;
    color:white;
    width: 16vw;
    padding: 3%;
    font-size: 16px;
}

@mixin displayFlex {
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items:center;
}

 // mobile */



/* // tablet */

@media only screen and (min-width: 600px) {}

/* //desktop */
@media screen  and (min-width: 768px) {
    .main {
        width: 100vw;
        @include displayFlex();
        font-family:Bona Nova;
        margin:1% 0;
          background-image: url('../../images/inkBack.jpg');
          background-repeat: no-repeat;
          background-size: cover;
        
    }

    .main h2 {
        font-size: 36px;
    }


    

    .mainTop{
        width: 35vw;
    }

    .mainBottom{
        width: 60vw;
        padding:2%;
        @include displayFlex();
        flex-direction: row;
    

    }

    button {
        @include buttons();
        border-radius:10%;
        margin-top:40%;
    }

    .butLeft, .butRight{
        height: 30vh;
        width: 50vw;
    }

    .butLeft {
        border-right: 3px solid black;
    }

    .quote {
        height: 20vh;
        background-color: lightgoldenrodyellow;
       
        margin-bottom:1%;
        opacity: .5;
    }

    .quote h3{
        padding-top: 3%;
        font-weight: bold;
    }
}
