
// @mixin buttons {
//     background-color: #1087A8;
//     font-family: Bona Nova;
//     color:white;
//     width: 14vw;
//     height: 5vh;
//     padding: 1% 0;
//     font-size: 18px;
//     border-radius: 7%;
// }

@mixin displayFlex {
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items:center;
}

 // mobile */



/* // tablet */

@media only screen and (min-width: 600px) {}

/* //desktop */
@media screen  and (min-width: 768px) {
    .main {
        width: 100vw;
        @include displayFlex();
        font-family:Bona Nova;
        margin:1% 0;
          background-image: url('../../images/inkBack.jpg');
          background-repeat: no-repeat;
          background-size: cover;
        
    }

    .main h2 {
        font-size: 36px;
    }


    

    .mainTop{
        width: 40vw;
         p
         {
            color: slategray;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
         }
    
    }

    .mainBottom{
        width: 60vw;
        padding:1%;
        @include displayFlex();
        flex-direction: row;
    

    }
    
    .mainBox {
        text-align: center;
        position: relative;
        width: 300px;
        margin: 0 auto;
        cursor: pointer;
    }


    button {
        margin-top:40%;
        position: relative;
        height: 50px;
        width: 210px;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        letter-spacing: 0.1em;
        overflow: hidden;
        box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
        z-index: 2;
    }
    .butLeft, .butRight{
        height: 30vh;
        width: 30vw;

    }

    .butLeft {
        border-right: 3px solid teal;
    }

    .quote {
        height: 18vh;
        background-color: black;
        margin-top: -2%;
        margin-bottom:1%;
    }

   .effect2 {
            position:relative;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
    .effect2:before, .effect2:after {
        content:"";
            position:absolute;
            z-index:-1;
            -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
            -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
            box-shadow:0 0 20px rgba(0,0,0,0.8);
            top:0;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 2px;
        }
    .effect2:after {
        right:10px;
            left:auto;
            -webkit-transform:skew(8deg) rotate(3deg);
            -moz-transform:skew(8deg) rotate(3deg);
                -ms-transform:skew(8deg) rotate(3deg);
                -o-transform:skew(8deg) rotate(3deg);
                    transform:skew(8deg) rotate(3deg);
        }

    .quote h3 {
        padding-top: 3%;
        font-size: 48px;
        color: teal;
        text-align:center;
        position:relative;
        font-family: 'Bilbo Swash Caps', cursive;
        font-weight: 300;
        text-shadow: 3px 6px 15px lightgrey;
    }
}

.fill-one {
	position: absolute;
	background-image: linear-gradient(to right, #E040FB, #00BCD4);
   background: linear-gradient(227deg, rgba(2,0,36,1) 0%, rgba(0,255,231,1) 34%, rgba(16,135,168,1) 100%);
	height: 70px;
	width: 420px;
	border-radius: 5px;
	margin: -40px 0 0 -140px;
	z-index: -1;
	transition: all 0.4s ease;
}

.container-one:hover .fill-one {
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	transform: translateX(100px);
}

.fill-two {
	position: absolute;
	background-image: linear-gradient(to right, #E040FB, #00BCD4);
    background: linear-gradient(227deg, rgba(2,0,36,1) 0%, rgba(0,255,231,1) 80%, rgba(16,135,168,1) 100%);
	background-size: 150% 150%;
	height: 70px;
	width: 420px;
	border-radius: 5px;
	margin: -40px 0 0 -140px;
	z-index: -1;
	transition: all 0.4s ease;
}

.container-two:hover .fill-two {
	-webkit-animation: gradient 3s ease infinite;
	-moz-animation: gradient 3s ease infinite;
	animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
