.projectCard {
      border: 2px solid teal;
    background-color: white;
    border-radius:5%;
    width: 20vw;
    margin:1%;
    padding:1%;

  }
  .projectCard:hover {
    border: 5px solid gold;
    width: 30vw;
  }