.projectCard {
      border: 2px solid teal;
    background-color: white;
    border-radius:5%;
    width: 35vw;
    margin:1%;
    padding:1%;

  }
  .projectCard:hover {
    border: 5px solid gold;
    width: 45vw;
  }

  .links {
    display:flex;
    flex-direction: column;
  }