.projectsMain{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 1%;


        h3 {
            font-family: Bona Nova;
        }

        .projBanner {
            background-color: black;
            color:white;
            margin-top: -5%;
            z-index: -1;
            margin-bottom: 2%;

                        .animate-charcter {
            text-transform: uppercase;
            background-image: linear-gradient(
                -225deg,
                #231557 0%,
                #44107a 29%,
                #ff1361 67%,
                #fff800 100%
            );
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
                font-size: 190px;
            }

            @keyframes textclip {
            to {
                background-position: 200% center;
            }
            }
                    }
            }


.projectGallery {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    background-image: url('../../assets/images/blueink.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.projects {
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
  width: 90vw;
  min-height:100vh;

  
  h5, p {
      font-family: Bona Nova;
}

}

.projectsMain .up {
    height: 55px;
    width: 55px;
    margin-left: 3%;
    z-index: 99;
    cursor: pointer;

}
