.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    margin-bottom:3%;

    h2 {
        font-family: 'Bona Nova';
        width: 30vw;
        border-bottom: 3px solid black;
        margin: 1% auto;
        padding: 1%;
    }
    
}
// .midAbout {
//     background-image:url('../../images/aboutBk.jpg');
//        background-repeat: no-repeat;
//           background-size: cover;
// }


.midAbout, .bottomAbout {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    margin: 0 auto;



    .aboutLeft, .aboutRight {
        width: 42%;
        border: 3px solid black;
        margin: 1%;
        padding: 1%;
        background-color: white;
        border-radius: 10%;
        box-shadow: 5px 5px 10px lightslategrey;
    }

    .aboutLeft {
        margin-left: 10%;

        span {
            font-family: 'Bona Nova';
            font-weight: bold;
            color:teal;
        }
    }
    .aboutRight {
        margin-right: 10%;
    }
}

.aboutLeft ul li {
    list-style-type: square;

    
    
}
.liOne {
    background-color: rgb(223, 221, 221);
    padding: 1%;
}

.bottomAbout {
    width: 80%;
    margin-top: 5%;
    display:flex;
    flex-direction: column;text-align: left;
    border: 2px solid blue;
    padding: 1%;
}
