

@mixin primaryColor {
    color:#ffff00;
}
@mixin secondaryColor {
    color: #1087A8;
}
/* // mobile */

@mixin background {
    background-color: #ffff00
}
@mixin boxShadow {
    box-shadow: 10px 10px 10px lightslategrey; 
}

/* // tablet */

@media only screen and (min-width: 600px) {}

/* //desktop */
@media screen  and (min-width: 768px) {
    .topNav {
        width: 100vw;
        height: 15vh;
        @include background();
        @include boxShadow(); 
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

    nav a {
        text-decoration: none;
        color:black;
        padding: 1%;
        margin: 1%;
        border-radius: 5%;
        font-family: Bona Nova;
        font-size: 16px;
        font-weight: bold;
    }
}