

@mixin primaryColor {
    color:#ffff00;
}
@mixin secondaryColor {
    color: #1087A8;
}
/* // mobile */

@mixin background {
    background-color: #ffff00
}
@mixin boxShadow {
    box-shadow: 10px 10px 10px lightslategrey; 
}

/* // tablet */

@media only screen and (min-width: 600px) {}

/* //desktop */
@media screen  and (min-width: 768px) {
    .topNav {
        width: 100vw;
        height: 20vh;
        @include background();
        @include boxShadow(); 
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .container {

               display: flex;
               width: 30vw;
                justify-content: space-around;
                
                
            }
            .container .profile img {
             
                    height: 95px;
                    max-width: 100%;
                    border-radius: 50%;
                    border: 3px solid black;
                    padding: 2%;
                    filter: drop-shadow(10px 10px 8px grey);
                    cursor: pointer;
                 }

            }

            .profile {
                position: relative;
                transition: all 0.3s;
            }
            
            .profile:hover {
                transform: translateY(15px);
            }


            .profile .title {
                position: absolute;
                background-color: #1087A8;
                color: #fff;
                font-family: 'Bona Nova';
                padding: 10px 20px;
                border-radius: 100px;
                border: 1px solid black;
                bottom: -30px; left: 50%;
                white-space: nowrap;
                transform: translate(-50%, -50px);
                letter-spacing: 1px;
                font-size: 18px;
                opacity: 0;
                transition: all 0.3s;
            }
            
            .profile .title::before {
                content: "";
                position: absolute;
                width: 10px; height: 10px;
                background-color: #1087A8;
                border: 1px solid black;
                top: 0; left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            
            .profile img:hover + .title {
                opacity: 1;
                transform: translateX(-50%);
                box-shadow: 0 10px 8px rgba(86, 86, 198, 0.3);
               
            }
        }

    nav a {
        text-decoration: none;
        color:black;
        padding: 1%;
        margin: 1%;
        border-radius: 5%;
        font-family: Bona Nova;
        font-size: 16px;
        font-weight: bold;
    }